body{
    background: yellow;
}

/*Game Header*/

.current_player{
    background-color: rgba(0,255,255,0.5);
}

#player_1_float{
    float:left;
    text-align: center;
}

#player_2_float{
    float: right;
    text-align: center;
}

#level_title{
    text-align: center;
}

#game_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

.player_image_right{
    height: 15vh;
    width: 15vh;
    float: inherit;
}

.player_image_left{
    height: 15vh;
    width: 15vh;
    float: inherit;
}

/*Game Body*/

.game_box_level1{
    border: 2px solid blue;
    margin-top: 70px;
    width: 640px;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    zoom: 53%;
}

.cardbox_level1{
    margin: 5px;
    width: 149px;
    height: 195px;
    position: relative;
}

.img1,.img2{
    position: absolute;
    border: 2px solid red;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
}

/*Game Body Level 2*/

.game_box_level2{
    border: 2px solid blue;
    margin-top: 70px;
    width: 810px;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    zoom: 53%;
}

.cardbox_level2{
    margin: 5px;
    width: 150px;
    height: 198px;
    position: relative;
}


/*Game body level 3*/

.game_box_level3{
    border: 2px solid black;
    margin-top: 70px;
    width: 1500px;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    zoom: 30%;
}

.cardbox_level3{
    margin: 5px;
    width: 240px;
    height: 220px;
    position: relative;
}

/*Homepage*/

#homepage{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; /* fraction*/
}

#select_level{
    text-align: center;
}

#game_title{
    text-align: center;
}

#p1_img_set, #p2_img_set{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.player_img{
    width: 100px;
    height: 100px;
}

.player_div{
    text-align: center;
}

.img_selected{
    border: 1pt solid black ;
}
.player_img:active{
    width: 80px;
    height: 80px;
}

