<div>
    <fieldset id="player_1_float">
        <legend>Player 1</legend>
        <img id="p1image" class="player_image_left" alt="Player 1" width="50" height="50" />
        <br />
        <label id="p1namedisplay"></label>
        <br /><br />
        <label id="p1scoredisplay"></label>
    </fieldset>
</div>
<div>
    <h1 id="level_title"></h1>
</div>
<div>
    <fieldset id="player_2_float">
        <legend>Player 2</legend>
        <img id="p2image" class="player_image_right" alt="Player 2" width="50" height="50" />
        <br />
        <label id="p2namedisplay"></label>
        <br /><br />
        <label id="p2scoredisplay"></label>
    </fieldset>
</div>