
<div class="player_div" onclick="custom_player_image_click(this)"> 
    <img id="1" class="player_img" src="img/player/1.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="2" class="player_img" src="img/player/2.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="3" class="player_img" src="img/player/3.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="4" class="player_img" src="img/player/4.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="5" class="player_img" src="img/player/5.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="6" class="player_img" src="img/player/6.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="7" class="player_img" src="img/player/7.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="8" class="player_img" src="img/player/8.png"/>
</div >

<div class="player_div" onclick="custom_player_image_click(this)">
    <img id="9" class="player_img" src="img/player/9.png"/>
</div >